__pycache__/

# important data for me (the developer)
data.json
links.txt
cmds.txt
sneakpeak.txt

# design and images
Store/

# pypi credentials
.pypirc

# ignore pypi build files
build/
dist/
Kara.egg-info/

# tools
rmbuild.bat
setup.bat
